@use '../../assets/styles/mixins' as m;

.NavItem {
    padding: 0;

    &_active {

        & .NavItem__link {
            color: var(--color-primary);
        }
    }

    &__link {
        display: block;
        padding: m.rem(12) m.rem(16);
        color: inherit;
        text-decoration: none;
    }
}
