@use '../../assets/styles/vars' as v;
@use '../../assets/styles/mixins' as m;

.AssetItem {
    border: m.rem(1) solid v.$color_light_on_surface;
    padding: m.rem(11) m.rem(16) m.rem(11) m.rem(56);
    border-radius: m.rem(8);
    position: relative;

    &__img {
        position: absolute;
        top: 50%;
        left: m.rem(13);
        margin-top: m.rem(-15);
        width: m.rem(30);
        height: m.rem(30);
        border-radius: 50%;
        overflow: hidden;
    }

    &__top,
    &__bottom {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin: 0;
        font-size: m.rem(16);
        line-height: 1.25;
        font-weight: 700;
    }
}
