@use '../../assets/styles/mixins' as m;

.SettingsButtons {

    &__Title {
        margin: 0;
    }

    &__Text {
        margin: m.rem(16) 0 0;
    }

    &__buttons {
        display: flex;
        gap: m.rem(16);
        margin-top: m.rem(20);
    }

    &__Button {
        flex-grow: 1;

        &_active {
            border-color: var(--color-primary);
            color: var(--color-on-primary);
            background-color: var(--color-primary);
        }
    }
}
