// Vars:

// Fonts:

$font_family_normal: "Roboto Mono", sans-serif;
$font_family_bold: "Roboto Mono", sans-serif;

// Colors Light Theme:

$color_light_primary: blue; // primary

$color_light_surface: white; // surface
$color_light_surface_container: lightgray; // surface container

$color_light_on_surface: black; // on surface

$color_light_overlay: rgba(255, 255, 255, .5);
$blur_light_overlay: blur(3px);

$color_light_on_surface_selection: lightblue; // on surface text selection

// Transitions:

$transition_01: .125s ease-in;
$transition_05: .5s ease-in;
$transition_none: 0s ease;
