@use '../../assets/styles/mixins' as m;

.ButtonConnect {
    position: relative;

    &__button {
        display: flex;
        border: m.rem(1) solid var(--color-primary);
        padding: m.rem(11) m.rem(20);
        font-size: m.rem(16);
        line-height: 1.5;
        font-family: inherit;
        overflow: visible;
        text-transform: none;
        color: var(--color-on-primary);
        background-color: var(--color-primary);
        border-radius: m.rem(8);
        cursor: pointer;

        svg {
            margin-right: m.rem(10);
            width: m.rem(24);
            height: m.rem(24);
            fill: currentColor;
        }
    }

    &__textDefault,
    &__textConnected {

        &_desktop {
            width: 1px;
            height: 1px;
            position: absolute;
            overflow: hidden;
            white-space: nowrap;
            clip-path: inset(50%);

            @include m.media_1200_min_width {
                margin-left: m.rem(9);
                width: auto;
                height: auto;
                position: static;
                overflow: visible;
                white-space: normal;
                clip-path: none;
            }
        }
    }

    &__body {
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: m.rem(8);
        border: m.rem(1) solid var(--color-surface-container);
        padding: m.rem(16);
        background-color: var(--color-surface-container);
        border-radius: m.rem(8);
    }

    &__item {
        display: flex;

        img {
            width: m.rem(30);
            height: m.rem(30);
            border-radius: 50%;
            overflow: hidden;
        }

        span {
            margin-left: m.rem(9);
            line-height: 1.875;
        }
    }

    &__buttonDisconnect {
        margin-top: m.rem(16);
        width: 100%;
        border: m.rem(1) solid var(--color-surface);
        padding: m.rem(11) m.rem(20);
        font-size: m.rem(16);
        line-height: 1.5;
        font-family: inherit;
        overflow: visible;
        text-transform: none;
        text-align: center;
        color: inherit;
        background-color: var(--color-surface);
        border-radius: m.rem(8);
        cursor: pointer;
    }
}
